@model VendingNEA_0.Models.Acuerdo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Acuerdo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuitNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuitNavigation.Cuit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumSerieNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumSerieNavigation.NumSerie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumAcuerdo">Edit</a> |
    <a asp-action="Index">Back to List</a>

</div>
